header {
  padding: 5px 4rem;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .Todolist {
  color: #fff;
  text-align: center;
  font-size: 20px;
}

header ul {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

